<%- include('../includes/header.ejs') %>
</head>

<body>

	<div class="o-page">
		<div class="o-page__sidebar js-page-sidebar">			
			<%- include('../includes/navigation.ejs') %>
		</div>

		<main class="o-page__content">
			<header class="c-navbar u-mb-medium">
				<button class="c-sidebar-toggle js-sidebar-toggle">
					<i class="feather icon-align-left"></i>
				</button>

				<h2 class="c-navbar__title">الصفحة الرئيسية</h2>

			</header>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="c-alert c-alert--success fc-toolbar">
							مرحبا بك يا 
							<span style="color: red;font-weight: bold;"><%= userName%></span>
							فى لوحة التحكم
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-4">
						<div class="c-state-card c-state-card--info">
							<h4 class="c-state-card__title">الوسوم</h4>
							<span class="c-state-card__number"><%=tagCount%></span>
						</div>
					</div>

					<div class="col-md-4">
						<div class="c-state-card c-state-card--success">
							<h4 class="c-state-card__title"> المقالات</h4>
							<span class="c-state-card__number"><%=postCount%></span>

						</div>
					</div>

					<div class="col-md-4">
						<div class="c-state-card c-state-card--fancy">
							<h4 class="c-state-card__title">التصنيفات</h4>
							<span class="c-state-card__number"><%=categoryCount%></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="c-state-card c-state-card--fancy">
							<h4 class="c-state-card__title">الصفحات</h4>
							<span class="c-state-card__number"><%=pageCount%></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="c-state-card c-state-card--fancy">
							<h4 class="c-state-card__title"> التعليقات</h4>
							<span class="c-state-card__number"><%=commentCount%></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="c-state-card c-state-card--fancy">
							<h4 class="c-state-card__title"> المستخدمين</h4>
							<span class="c-state-card__number"><%=userCount%></span>
						</div>
					</div>

				</div>

			

				<div class="row">
					<div class="col-12">
						<footer class="c-footer">
							<p>&copy; 2021 جميع الحقوق محفوظة</p>
							<span class="c-footer__divider">|</span>
							<p>مدونتى</p>
						</footer>
					</div>
				</div>
				
			</div>
		</main>
	</div>

	<!-- Main JavaScript -->
	<script src="js/neat.js"></script>
</body>

</html>