<%- include('../../includes/header.ejs') %>



</head>

<body>

	<div class="o-page">
		<div class="o-page__sidebar js-page-sidebar">
			<%- include('../../includes/navigation.ejs') %>
		</div>

		<main class="o-page__content">
			<header class="c-navbar u-mb-medium">
				<button class="c-sidebar-toggle js-sidebar-toggle">
					<i class="feather icon-align-left"></i>
				</button>

				<h2 class="c-navbar__title">الوسوم</h2>

			</header>

			<div class="container">
				<div class="row">
					
					<% if (successMessage) { %>
					<div class="c-alert c-alert--success fc-toolbar"><%= successMessage %></div>
					<%}%>
					<% if (errorMessage) { %>
					<div class="c-alert c-alert--danger fc-toolbar"><%= errorMessage %></div>
					<%}%>
				</div>
				<br>
				<div class="row">
					<div class="col-md-5">

						<div class="c-alert c-alert--info u-mb-medium">

							<div class="c-alert__content">
								
								<% for (let error of validationErrors) { %>
									<span class="text-error"><%= error.msg%></span>
								<%}%>	
								<br>

								<form  action="/dashboard/tags/store" method="POST" >
									<div class="c-field">
										<label class="title">العنوان</label>
										<input type="text" name="title" required 
										class="c-input u-mb-small <%= validationErrors.find(e => e.path == 'title') ? 'invalid' : '' %>" 
										value="<% if (hasError) { %><%= titleValue %><% } %>"
										placeholder="العنوان" id="title">
									</div>
									<div class="c-field">
										<label class="slug">الاسم اللطيف</label>
										<input type="text" name="slug" required placeholder="الاسم اللطيف" id="slug"
										class="c-input u-mb-small <%= validationErrors.find(e => e.path == 'slug') ? 'invalid' : '' %>" 
										value="<% if (hasError) { %><%= slugValue %><% } %>">
									</div>
									<div class="c-field">
										<label class="c-field__label">المحتوى</label>
										<textarea name="content" rows="6" 
											class="c-input u-mb-small <%= validationErrors.find(e => e.path == 'content') ? 'invalid' : '' %>"
											placeholder="إضافة نعليق ..."><% if (hasError) { %><%= contentValue %><% } %></textarea>
									</div>
									<input type="hidden" name="_csrf" value="<%= csrfToken %>">
									
									<button class="c-btn c-btn--fullwidth c-btn--info">حفظ </button>
								</form>

							</div>
						</div><!-- // .c-alert -->

					</div>
					<div class="col-md-7">

						<div class="c-table-responsive@wide">
							<table class="c-table">
								<thead class="c-table__head">
									<tr class="c-table__row">
										<th class="c-table__cell c-table__cell--head">#</th>
										<th class="c-table__cell c-table__cell--head">العنوان</th>
										<th class="c-table__cell c-table__cell--head">الوصف</th>
										<th class="c-table__cell c-table__cell--head">الاسم الطيف</th>
										<th class="c-table__cell c-table__cell--head">العدد</th>
										<th class="c-table__cell c-table__cell--head"> عرض</th>
									</tr>
								</thead>

								<tbody>
									<% let count = 0 %>
									<% for (let tag of tags) { %>
										<% count++ %>
									<tr class="c-table__row">
										<td class="c-table__cell"><%= count %></td>
										<td class="c-table__cell">
											<div class="o-media">
												<div class="o-media__body">
													<a href="category-view.html">
														<h6><%= tag.title %></h6>
													</a>
												</div>
											</div>
										</td>
										<td class="c-table__cell">
											<div class="o-media">
												<div class="o-media__body">
													<h6> <%= tag.content %></h6>
												</div>
											</div>
										</td>
										
										<td class="c-table__cell">
											<div class="o-media">
												<div class="o-media__body">
													<h6> <%= tag.slug %></h6>
												</div>
											</div>
										</td>
										<td class="c-table__cell">
											<a href="category-view.html">
												<span class="c-badge c-badge--small c-badge--warning">10 </span>
											</a>
											
										</td>
										<td class="c-table__cell">
											<a href="/dashboard/tags/show?id=<%= tag._id %>" style="display: inline-block;" class="c-btn c-btn--success has-icon">
												تعديل <i class="feather icon-wranch"></i>
											</a>
											<form action="/dashboard/tags/delete" method="POST" style="display: inline-block;" >
												<input type="hidden" value="<%= tag._id %>" name="ids[]">
												<input type="hidden" name="_csrf" value="<%= csrfToken %>">
												<button class="c-btn c-btn--danger has-icon" 
												onclick="return confirm('Are you sure you want to delete this item?');"
												type="submit">حذف</button>
											</form>
											<!-- <a href="#" class="c-btn c-btn--danger has-icon">
												حذف <i class="feather icon-wranch"></i>
											</a> -->
										</td>
									</tr>
									<% } %>
								</tbody>
							</table>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<footer class="c-footer">
							<p>&copy; 2021 جميع الحقوق محفوظة</p>
							<span class="c-footer__divider">|</span>

						</footer>
					</div>
				</div>
			</div>
		</main>
	</div>

	<!-- Main JavaScript -->
	<script src="js/neat.js"></script>
</body>

</html>